.complaint {
    padding: 10px 10px;
}

.complaints-section {
    margin-top: 20px;
}

.filter {
    text-align: center;
    padding: 5px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    font-size: 15px;
    color: rgb(120, 120, 120);
}

select {
    border-color: #72b9dd;
    height: 25px;
    border-radius: 5px;
    padding: 0px 5px;
}

.filters {
    overflow-x: auto;
}

.search-box {
    margin-left: 10px;
    height: 28px;
    display: flex;
}

.icon {
    padding: 0 2px;
    height: 97%;
    background-color: fff;
    border: solid 0.4px #c0c0c0;
    border-left: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-input {
    width: 320px;
    height: 93%;
    border: solid 0.4px #c0c0c0;
    padding: 0;
}

.search-input:focus {
    border: 1px solid #72b9dd !important;
}